<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="<%= resultImageUrl %>" />
    <meta property="og:description" content="<%=title%>" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="350" />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <script type="text/javascript">
      top.location.href = '<%=domain%>/result/<%=appname%>/<%=resultImage%>';
    </script>
  </body>
</html>
