<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="Wow! it's Awesome!" />
    <meta property="og:url" content="<%=domain%>" />
    <meta property="og:image" content="<%=resultImageUrl%>" />
  </head>

  <body>
    <script type="text/javascript">
      top.location.href = '<%=domain%>/result/<%=appname%>/<%=resultImage%>';
    </script>
  </body>
</html>
